<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new calendar</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">SimpleCal</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/calendar">Calendar </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-new-event">Add event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view-calendars">View calendars</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Add calendar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stat">Statistics</a>
            </li>
        </ul>

        <form action="#" class="form-inline my-2 my-lg-0" id="logoutForm" method="POST" th:action="@{/logout}">
            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
        </form>

        <h6 style="color:white;"> Welcome, <span th:text="${#request.userPrincipal.name}"></span> | <a
                onclick="document.forms['logoutForm'].submit()">Logout</a></h6>


    </div>
</nav>
<div class="container w-50 ">

    <br><br><br>
    <form action="#" method="post" th:action="@{/add-new-calendar}" th:object="${calendar}">
        <h2 class="form-signin-heading text-center">Add a new calendar!</h2><br>
        <h6 class="text-center"> Enter the name of your calendar:</h6>
        <div class="form-group" th:classappend="${#fields.hasErrors('*')} ? 'has-error' : ''">
            <input autofocus="true" class="form-control" name="name" placeholder="Title" th:field="*{name}"
                   type="text"/><br>
            <p class="alert alert-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
        <br>
    </form>

</div>
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html> 