<!DOCTYPE html>
<html lang="en" xmlns:th="www.tymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add an Event</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">SimpleCal</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/calendar">Calendar </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Add event <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view-calendars">View calendars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-new-calendar">Add calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stat">Statistics</a>
            </li>
        </ul>

        <form action="#" class="form-inline my-2 my-lg-0" id="logoutForm" method="POST" th:action="@{/logout}">
            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
        </form>

        <h6 style="color:white;"> Welcome, <span th:text="${#request.userPrincipal.name}"></span> | <a
                onclick="document.forms['logoutForm'].submit()">Logout</a></h6>


    </div>
</nav>

<style>
    a:hover {
        cursor: pointer;
    }

</style>

<div class="container w-50 ">

    <br><br><br>
    <form action="#" method="post" th:action="@{/add-new-event}" th:object="${event}">
        <h2 class="form-signin-heading text-center">Add an event</h2><br>

        <div class="row">
            <div class="col-sm-8">
                <div class="form-group" th:classappend="${#fields.hasErrors('*')} ? 'has-error' : ''">
                    <input autofocus="true" class="form-control" name="name" placeholder="Title" th:field="*{name}"
                           type="text"/><br>
                    <p class="alert alert-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>
                </div>

                <textarea class="form-control" name="description" placeholder="Description..." rows="5"
                          th:field="*{description}"></textarea>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="chooseCalendarForm">Choose a calendar</label>
                    <select class="form-control" id="calendarSelection" multiple name="calName" th:value="${calName}">

                    </select>
                </div>


                <div class="form-group">
                    <label for="chooseEventTypeForm">Event type:</label>
                    <select class="form-control" id="eventTypeSelection" name="name" th:field="*{eventType}">

                    </select>
                </div>


            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-5" th:classappend="${#fields.hasErrors('*')} ? 'has-error' : ''">Date: <input
                    id="datePicker" th:field="*{startDate}" type="date"/>
                <p class="alert alert-danger" th:errors="*{startDate}" th:if="${#fields.hasErrors('startDate')}"></p>
            </div>
            <div class="col-sm-4">Time: <input id="timePicker" th:field="*{startTime}" type="time"/></div>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
        <br>
    </form>

</div>

<input id="calendars" th:value="${calendarList}" type="hidden"/>
<input id="eventTypes" th:value="${eventTypes}" type="hidden"/>

<script>
    document.getElementById('datePicker').valueAsDate = new Date();
    document.getElementById("timePicker").defaultValue = "12:00";

    var x = document.getElementById("calendarSelection");

    var allCalendars = JSON.parse(document.getElementById("calendars").value)
    for (let i = 0; i < allCalendars.length; i++) {
        option = document.createElement("option");
        option.text = allCalendars[i].title;
        x.add(option);
    }

    var y = document.getElementById("eventTypeSelection");

    var allEventTypesS = document.getElementById("eventTypes").value;
    allEventTypes = allEventTypesS.replace(' ', '').replace('[', '').replace(']', '').split(",");
    console.log(allEventTypes)
    for (let k = 0; k < allEventTypes.length; k++) {
        option = document.createElement("option");
        option.text = allEventTypes[k];
        y.add(option);
    }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>