<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>SimpleCal</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">SimpleCal</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Calendar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-new-event">Add event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view-calendars">View calendars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-new-calendar">Add calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stat">Statistics</a>
            </li>
        </ul>

        <form action="#" class="form-inline my-2 my-lg-0" id="logoutForm" method="POST" th:action="@{/logout}">
            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
        </form>

        <h6 style="color:white;"> Welcome, <span th:text="${#request.userPrincipal.name}"></span> | <a
                onclick="document.forms['logoutForm'].submit()">Logout</a></h6>


    </div>
</nav>


<style>
    .fc-content {
        font-size: 1.5em;
        color: white;
    }

    .fc-event {
        background-color: #007bff;
    }

    a:hover {
        cursor: pointer;
    }

    .fc-button {
        background-color: #007bff;
        background-image: none;
        color: white;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<br/>
<div class="ui container">

    <h1 style="color:#007bff" th:inline="text">
        Calendar:
        <small th:text="${calendarName}"></small>
    </h1>

    <div class="ui grid">
        <div class="ui sixteen column">
            <div id="calendar"></div>
        </div>
    </div>
</div>


<input id="events" th:value="${allEvents}" type="hidden"/>


<div class="modal" id="myModal">

    <!-- Modal content -->
    <div class="modal-content w-50">
        <span class="close">&times;</span>
        <form action="#" method="post" th:action="@{/calendar}" th:object="${event}">
            Title:
            <span id="evTitle"></span>
            <input id="newevTitle" name="name" th:field="*{name}" type="hidden"/>
            <br>
            Description:
            <textarea class="form-control" id="newevDescription" name="description" placeholder="Description..."
                      readonly rows="5" th:field="*{description}"></textarea>

            <br>
            Type:
            <span id="evType"></span>
            <select class="form-control" id="newevType" name="eventType" style="visibility:hidden"
                    th:field="*{eventType}"></select>
            <br>
            Date:
            <span id="evDate"></span>
            <input id="oldDateSbm" name="oldDate" th:value="${oldDate}" type="hidden"/>
            <input id="newevDate" name="startDate" th:field="*{startDate}" type="hidden"/>
            <input id="newevTime" name="startTime" th:field="*{startTime}" type="hidden"/>
            <br>
            <hr>

            <button class="btn btn-lg btn-success btn-block" id="savebtn" name="action" style="visibility:hidden"
                    type="submit" value="edit">Save
            </button>
            <button class="btn btn-lg btn-danger btn-block" id="deletebtn" name="action" type="submit" value="delete">
                Delete
            </button>
            <input class="btn btn-lg btn-primary btn-block" id="editbtn" onclick="editEvent()" type="button"
                   value="Edit"/>
        </form>
    </div>
</div>

<input id="eventTypes" th:value="${eventTypes}" type="hidden"/>

<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        var all = JSON.parse($("#events").val());
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            navLinks: true, // can click day/week names to navigate views
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            timeFormat: 'H:mm',
            events: all,
            eventRender: function (info, el, view) {

                var modal = document.getElementById("myModal");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks the button, open the modal


                switch (info.type) {
                    case "Birthday":
                        el[0].style.backgroundColor = "#00b300"
                        break;
                    case "Appointment":
                        el[0].style.backgroundColor = "#0099cc"
                        break;
                    case "Lecture":
                        el[0].style.backgroundColor = "#cc00cc"
                        break;
                    case "Reminder":
                        el[0].style.backgroundColor = "#e6b800"
                        break;
                    case "Meeting":
                        el[0].style.backgroundColor = "#ff5050"
                        break;
                }

                el[0].onclick = function () {
                    modal.style.display = "block";
                    document.getElementById("evTitle").textContent = info.title
                    document.getElementById("newevDescription").value = info.description
                    document.getElementById("evType").textContent = info.type
                    document.getElementById("evDate").textContent = info.start._i

                    var oldDate = document.getElementById("evDate")
                    document.getElementById("oldDateSbm").value = oldDate.textContent

                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }

            },

        });

        //loading event types
        var y = document.getElementById("newevType");

        var allEventTypesS = document.getElementById("eventTypes").value;
        allEventTypes = allEventTypesS.replace(' ', '').replace('[', '').replace(']', '').split(",");
        for (let k = 0; k < allEventTypes.length; k++) {
            option = document.createElement("option");
            option.text = allEventTypes[k];
            y.add(option);
        }

    });

    function editEvent() {
        var newTitle = document.getElementById("newevTitle")
        var oldTitle = document.getElementById("evTitle")
        newTitle.type = "text"
        oldTitle.style.display = "none"
        newTitle.value = oldTitle.textContent

        document.getElementById("newevDescription").removeAttribute('readonly');

        var newType = document.getElementById("newevType")
        var oldType = document.getElementById("evType")
        newType.style.visibility = "visible"
        oldType.style.display = "none"
        newType.value = oldType.textContent


        var newTime = document.getElementById("newevTime")
        var newDate = document.getElementById("newevDate")
        var oldDate = document.getElementById("evDate")
        newTime.type = "time"
        newDate.type = "date"
        oldDate.style.display = "none"
        var dateTime = oldDate.textContent.split("T");
        newTime.value = dateTime[1]
        newDate.value = dateTime[0]

        document.getElementById("editbtn").style.visibility = "hidden"
        document.getElementById("savebtn").style.visibility = "visible"

    }
</script>
</body>
</html>

