<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
    <property name="spring" ref="http://www.springframework.org/tags"/>
    <property name="form" value="http://www.springframework.org/tags/form"/>
</bean>
<!DOCTYPE html>
<html lang="en" xmlns:th="www.tymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Authentification</title>

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>

<body>

<div class="container w-50">
    <br><br><br>
    <form action="#" class="form-signin" method="POST" th:action="@{/login}">

        <br>
        <h2 class="form-heading text-center">Log in to Your SimpleCal</h2> <br>

        <div class="form-group">
            <input autofocus="true" class="form-control" name="username" placeholder="Username"
                   type="text"/>
            <br>
            <input class="form-control" name="password" placeholder="Password" type="password"/><br>

            <div class="alert alert-danger" th:if="${error}">
                <p th:text="${error}"></p>
            </div>

            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>

            <div class="alert alert-success" th:if="${message}">
                <p th:text="${message}"></p>
            </div>
            <br>
            <h6 class="text-center">Not registered? <a href="/registration">Create an account now</a></h6>
        </div>
    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>