<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>Statistics</title>
</head>


<input id="events" th:value="${allEvents}" type="hidden"/>
<input id="name" th:value="${name}" type="hidden"/>
<input id="graphType" th:value="${graphType}" type="hidden"/>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">


    var allEvents = JSON.parse(document.getElementById("events").value)
    var name = document.getElementById("name").value
    var graph = document.getElementById("graphType").value


    window.onload = function () {

        var dataFromEvents = [];

        for (i = 0; i < allEvents.length; i++) {
            dataFromEvents[i] = {
                label: allEvents[i].name,
                y: allEvents[i].eventCount
            }
        }

        console.log(dataFromEvents);

        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: name
            },
            axisX: {
                interval: 1,
            },
            data: [
                {
                    // Change type to "doughnut", "line", "splineArea", etc.
                    type: graph,
                    //dataPoints : dataFromEvents;

                    dataPoints: dataFromEvents
                }
            ]
        });
        chart.render();
    }
</script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">SimpleCal</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/calendar">Calendar </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-new-event">Add event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view-calendars">View calendars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-new-calendar">Add calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stat">Statistics</a>
            </li>
        </ul>

        <form action="#" class="form-inline my-2 my-lg-0" id="logoutForm" method="POST" th:action="@{/logout}">
            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
        </form>

        <h6 style="color:white;"> Welcome, <span th:text="${#request.userPrincipal.name}"></span> | <a
                onclick="document.forms['logoutForm'].submit()">Logout</a></h6>


    </div>
</nav>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>