<!DOCTYPE html>
<html lang="en" xmlns:th="www.tymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add an Event</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">SimpleCal</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/calendar">Calendar </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-new-event">Add event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View calendars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-new-calendar">Add calendar</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/stat">Statistics <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <form action="#" class="form-inline my-2 my-lg-0" id="logoutForm" method="POST" th:action="@{/logout}">
            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
        </form>

        <h6 style="color:white;"> Welcome, <span th:text="${#request.userPrincipal.name}"></span> | <a
                onclick="document.forms['logoutForm'].submit()">Logout</a></h6>


    </div>
</nav>
<div class="container w-50 ">
    <br><br><br>
    <div class="form-group row">
        <div class="card" style="width: 18rem;">
            <img alt="Card image cap" class="card-img-top"
                 src="https://static1.squarespace.com/static/572bb9b620c647e2e6de4029/t/573c97841bbee0441dda6e1c/1463588748464/spyglass-53.png">
            <div class="card-body">
                <h5 class="card-title">Calendar Analysis</h5>
                <p class="card-text">See detailed statistics of your calendar.</p>
                <a class="btn btn-dark" href="/choose-cal">Analyze</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img alt="Card image cap" class="card-img-top"
                 src="https://assets.workshare.com/media/1434/i1060/0af5a3290326eab974fc.png">
            <div class="card-body">
                <h5 class="card-title">Compare Calendars</h5>
                <p class="card-text">See the comparison between your calendar's activities.</p>
                <a class="btn btn-dark" href="/graph">Compare</a>
            </div>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>