<!DOCTYPE html>
<html lang="en" xmlns:th="www.tymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add an Event</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>

<body>

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">SimpleCal</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/calendar">Calendar </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-new-event">Add event</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">View calendars <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-new-calendar">Add calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stat">Statistics</a>
            </li>
        </ul>

        <form action="#" class="form-inline my-2 my-lg-0" id="logoutForm" method="POST" th:action="@{/logout}">
            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
        </form>

        <h6 style="color:white;"> Welcome, <span th:text="${#request.userPrincipal.name}"></span> | <a
                onclick="document.forms['logoutForm'].submit()">Logout</a></h6>


    </div>
</nav>


<div class="container w-50 ">

    <br><br><br>
    <form action="#" method="post" th:action="@{/view-calendars}" th:object="${model}">
        <h2 class="form-signin-heading text-center">Your calendars</h2><br>

        <div class="form-group">
            <label for="chooseCalendarForm">Choose a calendar</label>
            <select class="form-control" id="calendarSelection" multiple name="calName" onchange="change(event)"
                    th:value="${calName}">

            </select>
        </div>


        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block" disabled id="viewbtn" name="action" type="submit" value="view">
            View
        </button>
        <input class="btn btn-lg btn-success btn-block" disabled id="editbtn" type="button" value="Edit"/>
        <button class="btn btn-lg btn-danger btn-block" disabled id="delbtn" name="action" type="submit" value="delete">
            Delete
        </button>

    </form>


</div>


<div class="modal" id="myModal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <form action="#" method="post" th:action="@{/view-calendars}" th:object="${model}">
            Current name:
            <input id="currName" name="currName" readonly th:value="${currName}" type="text"/>
            New name:
            <input name="newName" th:value="${newName}" type="text"/>
            <br>
            <hr>
            <button class="btn btn-sm btn-success btn-block" name="action" type="submit" value="edit">Save</button>
        </form>
    </div>
</div>


<input id="calendars" th:value="${calendarList}" type="hidden"/>

<script>
    function change(e) {
        document.getElementById("viewbtn").disabled = false;
        document.getElementById("editbtn").disabled = false;
        if (document.getElementById("calendarSelection").length > 1) document.getElementById("delbtn").disabled = false;
        document.getElementById("currName").value = e.target.value
    }

    var x = document.getElementById("calendarSelection");


    var allCalendars = JSON.parse(document.getElementById("calendars").value)
    if (allCalendars.length == 1) document.getElementById("delbtn").disabled = true;
    for (let i = 0; i < allCalendars.length; i++) {
        option = document.createElement("option");
        option.text = allCalendars[i].title;
        x.add(option);
    }

</script>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("editbtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>